In [ ]:
import ibm_db
from keys import db2

dsn = (
    "DRIVER={0};"
    "DATABASE={database};"
    "HOSTNAME={hostname};"
    "PORT={port};"
    "PROTOCOL={1};"
    "UID={username};"
    "PWD={password};"
    "SECURITY={2};").format("{IBM DB2 ODBC DRIVER}", "TCPIP", 'SSL', **db2)

try:
  conn = ibm_db.connect(dsn, "", "")
  print("Connected to database: {database} as user: {username} on host: {hostname}".format(**db2))
except:
  print("Unable to connect: ", ibm_db.conn_errormsg())
  raise Exception('BOOM.')

In [5]:
# Create Table
name = 'INSTRUCTOR'

dropQuery = f"drop table {name};"

try:
  ibm_db.exec_immediate(conn, dropQuery)
except:
  print(f'There wasnt a table {name}.')
finally:
  createQuery = (
      f"create table {name}("
      "id INTEGER PRIMARY KEY NOT NULL,"
      "fname VARCHAR(20),"
      "lname VARCHAR(20),"
      "city VARCHAR(20),"
      "ccode CHAR(2)"
      ")"
  )

  # Now fill in the name of the method and execute the statement
  createStmt = ibm_db.exec_immediate(
      conn,
      createQuery
  )

  print(f'Table {name} has been created.')

There wasnt a table INSTRUCTOR.

In [6]:
insertQuery2 = "insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')"
insertStmt2 = ibm_db.exec_immediate(conn, insertQuery2)

In [7]:
selectQuery = "select * from INSTRUCTOR;"
# Execute the statement
selectStmt = ibm_db.exec_immediate(conn, selectQuery)

# Fetch the Dictionary (for the first row only)
ibm_db.fetch_both(selectStmt)

# Fetch the rest of the rows and print the ID and FNAME for those rows
while ibm_db.fetch_row(selectStmt) != False:
    print(
        " ID:",  ibm_db.result(selectStmt, 0),
        " FNAME:",  ibm_db.result(selectStmt, "FNAME")
    a)

 ID: 3  FNAME: Hima

In [12]:
# updateQuery = "update INSTRUCTOR set CITY='MOOSETOWN' where FNAME='Rav'"
# updateStmt = ibm_db.exec_immediate(conn, updateQuery)

# Pandas

In [8]:
import pandas
import ibm_db_dbi

#connection for pandas
pconn = ibm_db_dbi.Connection(conn)

In [13]:
#query statement to retrieve all rows in INSTRUCTOR table
selectQuery = "select * from INSTRUCTOR"

#retrieve the query results into a pandas dataframe
pdf = pandas.read_sql(selectQuery, pconn)

#print just the LNAME for first row in the pandas data frame
# pdf.LNAME[0]

pdf

   ID FNAME      LNAME     CITY CCODE
0   2  Raul      Chong  Markham    CA
1   3  Hima  Vasudevan  Chicago    US

In [14]:
ibm_db.close(conn)

True